<router-outlet></router-outlet>
<h2>Lista Simples de Usuários</h2>
<div>
  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>name</th>
        <th>email</th>
        <th>phone</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users">
        <td>{{ user.id }}</td>
        <td>{{ user.name }}</td>
        <td>{{ user.email }}</td>
        <td>{{ user.phone }}</td>
        <td>
          <button mat-button (click)="goToDetail(user)">Ir para detalhe</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
